.row {
    display: flex;
    justify-content: space-between; /* Espaciado uniforme entre los elementos */
  }
  
  .column {
    flex: 1; /* Ocupa el espacio disponible */
    margin-right: 5px; /* Espacio entre columnas */
  
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: blue;
  }

  .subtable {
    width: 100%;
    border-collapse: collapse;
   
  }
 
 .ppal{
    background-color: rgb(71, 24, 225);
    color: rgb(14, 233, 178);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    background-color: blue;
    padding: 8px;
  }
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #05137e64;
    color: black;
  }
  
  .table tr:hover {
    background-color: #cedefa;
  }
  
  .table th:hover {
    background-color: #cedefa;
  }
  
  .table td:hover {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(even) {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(odd) {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(even):hover {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(odd):hover {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(even) th {
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(odd) th {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(even) td {
    background-color: #f2f2f2;
  }
  
  .table tr:nth-child(odd) td {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(even):hover th {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(odd):hover th {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(even):hover td {
    background-color: #cedefa;
  }
  
  .table tr:nth-child(odd):hover td {
    background-color: #cedefa;
 }

 .btn-link {
  background-color: #f8f9fa; /* Un fondo claro, puede ser cualquier color que se ajuste a tu diseño */
  border: 1px solid #dee2e6; /* Un borde sutil */
  color: #495057; /* Color de texto oscuro para contraste */
  text-align: left;
  padding: 8px 16px;
  width: 100%; /* Hace que el botón llene la celda de la tabla */
  border-radius: 4px; /* Bordes redondeados para un look más suave */
  transition: background-color 0.3s, color 0.3s; /* Suaviza la transición de colores */
}

.btn-link:hover, .btn-link:focus {
  background-color: #e2e6ea; /* Un color más oscuro al pasar el mouse o al enfocar */
  color: #212529; /* Color de texto más oscuro para mejor visibilidad */
  text-decoration: none; /* Evita la subraya de los enlaces */
  cursor: pointer; /* Cursor de mano para indicar interactividad */
}

/* Establecer una imagen de fondo que cubra toda la página */
/* .ppal{
  background-image: url('src/app/components/product/LogoAlicoAzul.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}  */
