<table>
    <thead>
      <tr>
        <th>ID Empleado</th>
        <th>Trabajo</th>
        <th>Código de Desperdicio</th>
        <th>Descripción</th>
        <th>Peso</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reporte of reportes">
        <td>{{ reporte.employeeId }}</td>
        <td>{{ reporte.jobNum }}</td>
        <td>{{ reporte.scrapCode }}</td>
        <td>{{ reporte.description }}</td>
        <td>{{ reporte.pesoBascula }}</td>
      </tr>
    </tbody>
  </table>
  <app-reportes [reportes]="reportes"></app-reportes>

